# Ignore dependencies
node_modules/
launcher/node_modules/
website/node_modules/

# Ignore build artifacts & installer executables
launcher/dist-installer/
website/dist/
*.exe

# Ignore local certificates & secrets
key.pem
cert.pem

# Ignore system files
.DS_Store
Thumbs.db